*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(https://images.unsplash.com/photo-1740166260067-9338269b9227?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI0fDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D);
  background-repeat: no-repeat;
  /* height: 100vh;
  width: 100vw; */
  background-size: cover;

}
a{    
    text-decoration: none;
    border-radius: 22px;
    margin: 10px 0;
    padding: 10px 10px;
    border: 1px solid #ffffff;
    color: rgb(0, 0, 0);
}
.link{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 40px;
    width: 200px;
    margin: 0 auto;
    border-radius: 22px;
}
.link:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: 1px solid #000000;
    border-radius: 22px;
}
a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
h1, h2, h3, h4, h5, h6,p {
    margin: 8px 0;
}
.heading{
    text-align: center;
    color:rgb(32, 31, 31)
}
p{
    padding:10px 0;
}
.card, .card2{
    height: 400px;
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
   border-radius: 20px;
    margin: 10px auto;
    backdrop-filter: blur(4px);
    background-color: rgba(24, 25, 26, 0.151);
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}


img{
    height: 300px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: white;
}
/* .card3 img{
    height: 200px;
    border-radius: 50%;
    margin: 10px 0;
} */
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 10px ;
}
.right{
    width:50% ;
    color: white;
    margin: 10px;
}
.sicons img{
 height: 30px;
 background-color: #ffffff;
}

.card2{
   
    
background: linear-gradient(90deg, rgba(2, 0, 36, 0.336) 0%, rgba(111, 114, 114, 0.26) 35%, rgba(125, 133, 134, 0.13) 100%);
}


.card3{
    margin:20px auto;
    height: 650px;
    width: 900px;
     border-radius: 20px;
    backdrop-filter: blur(3px);
    background: linear-gradient(to right, #ca7950, #fdc63027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main a:hover{
    background: #fdc63073;
}

.parent{
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* card 4 */
.card4{
    margin: auto;
    backdrop-filter:blur(2px);
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb53f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
color: #ffffff;
height: 650px;
width: 900px;
}
.pcontent{
   padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pcontent a:hover{
    background-color: #f4f8f8;

}